* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  @font-face {
	font-family: Montserrat-Regular;
	src: url("../../asset/Montserrat/Montserrat-Regular.ttf");
  }
  
  @font-face {
	font-family: Montserrat-ExtraBold;
	src: url("../../asset/Montserrat/Montserrat-ExtraBold.ttf");
  }
  
  @font-face {
	font-family: Montserrat-Bold;
	src: url("../../asset/Montserrat/Montserrat-Bold.ttf")format('truetype');
  }
  
  
  body {
	/* font-family: 'Montserrat', sans-serif; */

	padding: 0;
	margin: 0;
	/* background-image: url('https://images3.alphacoders.com/785/thumb-1920-785576.png'); */
  }
.full-container {

  
	min-height: 100vh;
	background: linear-gradient(45deg, #2196f3 50%, #21cbf3 50%)
	
}
.button-filter{
	align-items: center;
	justify-content: center;

}

#filter-style{
	
	
	position: -webkit-sticky;
	position: sticky;
	top: 0;

}

#cek {
	/* background-size: "cover"; */
	/* -webkit-text-size-adjust: 100%; */
	/* transform: translateY(10%); */
	
	/* overflow: hidden; */
	/* background-size: cover; */
	/* min-height: 100vh; */
	
	background: linear-gradient(45deg, #2196f3 50%, #21cbf3 50%)
	
	/* height: 800px; */
}

/* .section1 { */
	/* position: relative; */
	/* height: 100vh; */

/* } */

